.little_logo {
  width: 40px;
  /* filter: grayscale(100%) brightness(90%); */
}

.list_no_dot {
  list-style-type: none;
  display: inline;
  margin: 5px;
}
.bold {
  font-weight: bold;
}

.bg__light {
  background: linear-gradient(
    rgba(239, 240, 240, 1) 0%,
    rgba(239, 240, 240, 1) 87%,
    rgba(255, 255, 255, 1) 100%
  );
}

.backgroung__color {
  background-color: rgba(52, 199, 202, 0.233);
  /* background-color: rgba(219, 112, 147, 0.233); */

  transition: ease-in-out 3000;
}
