.little_logo {
  width: 40px;
  /* filter: grayscale(100%) brightness(90%); */
}

.list_no_dot {
  list-style-type: none;
  display: inline;
  margin: 5px;
}
.bold {
  font-weight: bold;
}
/* 
.bg__light {
  background: linear-gradient(
    rgba(239, 240, 240, 1) 0%,
    rgba(239, 240, 240, 1) 87%,
    rgba(255, 255, 255, 1) 100%
  );
} */
/* 
.background__color {
  background-color: rgba(52, 199, 202, 0.233);
  transition: ease-in-out 3000;
} */

/* .maincardstyle {
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
 */
.flip-card {
  background-color: transparent;
  margin: 2rem;
  padding: 0rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.flip-card-front > h3,
.flip-card-front > p,
.flip-card-front > img {
  margin: 15px 0px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}

.flip-card-front > img {
  width: inherit;
}

/* Style the back side */
.flip-card-back {
  background-color: #c5124b8c;
  /*   background: rgb(0, 206, 209);
  background: radial-gradient(
    circle,
    rgba(0, 206, 209, 1) 0%,
    rgba(204, 240, 243, 1) 100%
  ); */
  color: white;
  transform: rotateY(180deg);
}
/* 
.cardstyle {
  background-color: #c5124b8c;
  width: 300px;
  height: 220px;
  display: inline-block;
  margin: 2rem;
  padding: 1.5rem;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 20px;
}
 */
/* .contentstyle {
  background-color: rgba(0, 128, 128, 0.486);
  max-height: auto;
  max-width: 25em;
  box-sizing: border-box;
}

.contentstyle > img {
  max-width: 100%;
  border-radius: 10px;
  border: transparent;
}

.contentstyle:hover {
  padding: 0;
} 
.backgroundImage {
  width: 100%;
  height: 130px;
  transition: 0.5s;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 20px;
}
*/
