.little_logo {
  width: 40px;
  /* filter: grayscale(100%) brightness(90%); */
}

.list_no_dot {
  list-style-type: none;
  display: inline;
  margin: 5px;
}
.bold {
  font-weight: bold;
}

.bg__light {
  background-color: rgb(239, 240, 240);
}
